In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\ProgramData\Anaconda3\Scripts\chromedriver.exe")

In [3]:
url = "https://www.premierleague.com/stats/top/players/goals?se=363"
driver.get(url)
soup = BeautifulSoup(driver.page_source, "lxml")

In [4]:
# //*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[2]/a/strong
#//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[2]/a/strong

In [8]:
a= v('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[2]/a/strong')
a.text

'Harry Kane'

In [26]:
player_name = []
for i in range(1,21):
    b= driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[{}]/td[2]/a/strong'.format(i)).text
    player_name.append(b)

In [13]:
player_name

['Harry Kane',
 'Mohamed Salah',
 'Bruno Fernandes',
 'Patrick Bamford',
 'Son Heung-Min',
 'Dominic Calvert-Lewin',
 'Jamie Vardy',
 'Ollie Watkins',
 'Ilkay Gündogan',
 'Alexandre Lacazette',
 'Kelechi Iheanacho',
 'Danny Ings',
 'Callum Wilson',
 'Chris Wood',
 'Gareth Bale',
 'Matheus Pereira',
 'Sadio Mané',
 'Marcus Rashford',
 'Wilfried Zaha']

In [14]:
#//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[3]/a
#//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[3]/a

In [18]:
c = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[3]/a')
c.text

'Tottenham Hotspur'

In [25]:
club = []
for i in range(1, 21):
    d = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[{}]/td[3]/a'.format(i)).text
    club.append(d)
    
club

['Tottenham Hotspur',
 'Liverpool',
 'Manchester United',
 'Leeds United',
 'Tottenham Hotspur',
 'Everton',
 'Leicester City',
 'Aston Villa',
 'Manchester City',
 'Arsenal',
 'Leicester City',
 'Southampton',
 'Newcastle United',
 'Burnley',
 'Tottenham Hotspur',
 'West Bromwich Albion',
 'Liverpool',
 'Manchester United',
 'Crystal Palace',
 'West Ham United']

In [20]:
#//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[4]/div/span[2]
#//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[4]/div/span[2]

In [21]:
e = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[4]/div/span[2]')
e.text

'England'

In [24]:
country = []
for i in range(1,21):
    f = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[{}]/td[4]/div/span[2]'.format(i)).text
    country.append(f)
    
country

['England',
 'Egypt',
 'Portugal',
 'England',
 'South Korea',
 'England',
 'England',
 'England',
 'Germany',
 'France',
 'Nigeria',
 'England',
 'England',
 'New Zealand',
 'Wales',
 'Brazil',
 'Senegal',
 'England',
 '[object Object]',
 'England']

In [27]:
# //*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[5]
# //*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[5]

In [31]:
g = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[5]')
g.text

''

In [32]:
# //*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[2]/td[1]/strong
# //*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[1]/strong

In [33]:
# to check the rank of xpath
x = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[1]/strong')
x.text

'1.'

In [34]:
rank =[]
for i in range(1,21):
    y = driver.find_element_by_xpath('//*[@id="mainContent"]/div[2]/div/div[2]/div[1]/div[2]/table/tbody/tr[{}]/td[1]/strong'.format(i)).text
    rank.append(y)

    
rank

['1.',
 '2.',
 '3.',
 '4.',
 '4.',
 '6.',
 '7.',
 '8.',
 '9.',
 '9.',
 '11.',
 '11.',
 '11.',
 '11.',
 '15.',
 '15.',
 '15.',
 '15.',
 '15.',
 '20.']

In [35]:
df = pd.DataFrame({'Rank': rank, "Player Name": player_name, "Country": country, "Club": club})
df

   Rank            Player Name          Country                  Club
0    1.             Harry Kane          England     Tottenham Hotspur
1    2.          Mohamed Salah            Egypt             Liverpool
2    3.        Bruno Fernandes         Portugal     Manchester United
3    4.        Patrick Bamford          England          Leeds United
4    4.          Son Heung-Min      South Korea     Tottenham Hotspur
5    6.  Dominic Calvert-Lewin          England               Everton
6    7.            Jamie Vardy          England        Leicester City
7    8.          Ollie Watkins          England           Aston Villa
8    9.         Ilkay Gündogan          Germany       Manchester City
9    9.    Alexandre Lacazette           France               Arsenal
10  11.      Kelechi Iheanacho          Nigeria        Leicester City
11  11.             Danny Ings          England           Southampton
12  11.          Callum Wilson          England      Newcastle United
13  11.             Chris Wood      New Zealand               Burnley
14  15.            Gareth Bale            Wales     Tottenham Hotspur
15  15.        Matheus Pereira           Brazil  West Bromwich Albion
16  15.             Sadio Mané          Senegal             Liverpool
17  15.        Marcus Rashford          England     Manchester United
18  15.          Wilfried Zaha  [object Object]        Crystal Palace
19  20.        Michail Antonio          England       West Ham United

In [ ]:
# to save the file in csv
df.to_csv("football_stats.csv")